@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
    font-family: 'Product Sans';
    background: url('./images/bgmain.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.container {
    padding: 20px 70px;
    color: white;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -10px;

}

a {
    color: white;
    text-decoration: none;
}

.date-container .time {
    font-size: 70px;
    font-weight: 100;
    margin-left: -5px;
}

.date-container #am-pm {
    font-size: 30px;
}

.date-container .date {
    font-size: 30px;
}

::placeholder {
    color: white;
}

.place-container {
    text-align: end;
}

.des {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 13px;
    margin-bottom: 5px;
    text-align: center !important;
}

.timezone {
    margin-top: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
/* 
.fade {
    opacity: 1;
} */

.animcontainer {
    animation: transitionIn 2s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.area {
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.place-container .country {
    font-size: 12px;
    font-weight: 700;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    color: aliceblue;

    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

button :hover {
    cursor: pointer;
}

.future-forecast {
    visibility: none;
}

.search-bar {
    border: none;
    outline: none;
    padding: 0.8em 20px;
    font-family: inherit;
    border-radius: 18px;
    color: aliceblue;

    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.current-info .others {
    display: flex;
    flex-direction: column;
    background-color: rgba(11, 55, 85, 0.301);
    padding: 15px;
    border-radius: 15px;

    margin: 10px 0;
    /* border: 1px solid rgba(172, 206, 230, 0.726); */
    /* make it optional */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.current-info .others .weather-item {
    display: flex;
    justify-content: space-between;
}

.future-forecast {
    /* background: rgba(122, 196, 230, 0.301); */
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: aliceblue;
    width: 100%;
    align-items: center;
    justify-content: center;
}




.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    background: rgba(240, 234, 234, 0.404);
    padding: 15px;
    border-radius: 10px;
    margin: 0 10px;

    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    background: rgba(11, 55, 85, 0.301);
    padding: 25px;
    border-radius: 10px;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: rgba(11, 55, 85, 0.479);
    border-radius: 50px;
    text-align: left;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
    font-size: 13px;
}

@media only screen and (max-width: 1250px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }

    .main {
        font-size: 12px;
        text-align: center;
    }
}



@media only screen and (max-width:730px) {
    .container {
        padding: 35px
    }

    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
        /* height: 50vh */
    }


    .date-container .time {
        font-size: 50px;
    }

    .date-container #am-pm {
        font-size: 20px;
    }

    .date-container .date {
        font-size: 20px;
    }

    .place-container {
        text-align: end;
        margin-top: 15px;

    }

    .timezone {
        margin-top: 10px;
        font-size: 10px;
    }

    .weather-item {
        font-size: 15px;
    }

    .current-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 16px;
        font-weight: 100;

    }

    .current-info .others {
        display: flex;
        flex-direction: column;
        background-color: rgba(11, 55, 85, 0.301);
        padding: 15px;
        border-radius: 15px;
        margin: 20px 0;

        /* border: 1px solid rgba(172, 206, 230, 0.726); */
        /* make it optional */
    }
}